body {
  margin: 0;
  font-family: Georgia, serif;
  background: #1e1a16;
  color: #f5f1e8;
}

/* NAV LINKS */

.nav-link {
  color: #f5f1e8;
  text-decoration: none;
  font-size: 17px;
  position: relative;
}

/* UNDERLINE ANIMATION */

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #f5f1e8;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

/* ACTIVE PAGE */

.nav-link.active {
  color: #ffffff;
  font-weight: bold;
}